  <h3>Данные по банкам и по кассе - <%= Russian::strftime(cashc.first.DAT.to_date, "%d %B %Y") if cashc.first %></h3>
  <div class="row-fluid">
    <div class="span2">
      <%= link_to Russian::strftime(dat - 1.day, "%d %B %Y"), cashc_prev_day_url(:dat => dat), remote: true, :id => "prev_day" %>
    </div>
    <div class="span8">

    </div>

    <div class="span2">
      <%= link_to Russian::strftime(dat + 1.day, "%d %B %Y"), cashc_next_day_url(:dat => dat), remote: true, :id => "next_day" %>
    </div>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Сбербанк</th>
      <th>Россельхоз банк</th>
    </tr>
    <%= render :partial => "cash/cash_item", :collection => cashc, :as => :item  %>
  </table>
