<% if current_user.admin? %>
<div class="span12">
<table class="table table-striped table-hover">
  <tr>
    <th>Дата</th>
    <th>RSUM</th>
    <th>S</th>
    <th>Наименование</th>
    <th>Назначение</th>
  </tr>
  <%= render :partial => "balance/balance_item", :collection => @balance, :as => :item  %>
</table>
</div>
<% else %>
        <h2>Недостаточно прав</h2>
<% end %>