<div class="buttons">
  <ul style="list-style: none">
    <% if params[:scope] %>
        <li><%= link_to "Создать таблицу плана", plan_create_path(:scope => params[:scope]) %></li>
    <% else %>
        <li><%= link_to "Создать таблицу плана", plan_create_path %></li>
    <% end %>

  </ul>
</div>