<tr>
  <td><%= link_to item.NAIM, implementationshow_url(item.N) %></td>
  <td><%= int_register item.SUM %></td>
  <td><%= int_register item.SUMM %></td>
  <td><%= int_register item.SUMY %></td>
</tr>


