<% if current_user.admin? %>
<div class="span12">
  <ul class="years">
    <% @m.each do |year| %>
        <li><%= link_to_unless_current year, plan_url(:year => year)%></li>
    <% end %>
  </ul>
  <br/>
  <br/>
  <h3>Реализация продукции  - <%= Russian::strftime(@implementations.first.DAT, "%d %B %Y")%></h3>
  <table class="table table-hover">
    <tr>
      <th>Наименование</th>
      <th>Реализация за день</th>
      <th>Реализация с начала месяца</th>
      <th>Реализация c начала года</th>
    </tr>

    <%= render :partial => "implementation/implementation_item", :collection => @implementations, :as => :item  %>
  </table>
    </div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>