<% if current_user.admin? %>
<div class="span12">
<h1>Реализация</h1>
<table class="table table-striped">
  <tr>
    <th>Дата</th>
    <th>Код</th>
    <th>Наименование</th>
    <th>Сумма 1</th>
    <th>Сумма 2</th>
    <th>Сумма 3</th>
  </tr>
  <%= render :partial => "implementation/implementation_item", :collection => @implementations, :as => :item  %>
</table>
<%= will_paginate @implementations, :class => "flickr_pagination", :next_label => ">>", :previous_label => "<<" %>
    </div>
<% else %>
    <h2>Недостаточно прав</h2>
<% end %>